body {
    background: url('../img/school-supplies1.jpg') no-repeat center /cover;
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

.error {
    color: red;
}

.warning {
    display: none;
    color: red;
}